html, body { 
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#renderCanvas {
  width: 100%;
  height: 100%;
}

@keyframes loading-spinner {
  0% {
    transform: translate(-50%,-50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%,-50%) rotate(360deg);
  }
}

#loading-spinner {
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  height: 288px;
  border-width: 8px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.8);
  border-top-color: transparent;
  border-radius: 50%;
  animation: loading-spinner 1s linear infinite;
}

#server-icon {
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -64px;
  margin-left: -64px;
  width: 128px;
  height: 128px;
  background-image: url(apple-touch-icon.png);
  background-size: cover;
}

#loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  z-index: 9999;
  transition: opacity 0.5s ease-in-out, visibility 0.5s;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
